<div class="row">
  <div class="col-xs-6 col-xs-offset-3 text-center"><h1>Create a new NerdUp</h1></div>
</div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3 text-center">
    <%= render 'form' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3 text-center well">
    <p class="btn btn-danger">
      <%= link_to "All NerdUps", root_path %>
    </p>
  </div>
</div>