// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.btn.btn-danger {
  a {
    text-decoration: none;
    color: #fff;
  }
}


p.btn.btn-primary {
  a {
    text-decoration: none;
    color: #fff;
  }
}